<div class="row topic-row" data-id="{{ id }}">
    <div class="col-7">
        <a href="/topics/{{ id }}" target="_blank" title="{{ parsedTitle.rawTitle }}">
            {{#if parsedTitle.title }}
                {{ parsedTitle.title }}
            {{ else }}
                {{ parsedTitle.rawTitle }}
            {{/if}}
        </a>
    </div>
    <div class="col-1">
        {{ parsedTitle.quality }}
    </div>
    <div class="col-1">
        {{ parsedTitle.year }}
    </div>
    <div class="col-2">
        {{ createdAt }}
    </div>
    <div class="col-1">
        <div class="row">
            <div class="col-6">
                <div>
                    {{#if isLoaded }}
                        <i class="material-icons">check</i>
                    {{ else }}
                        <i class="fas fa-download"></i>
                    {{/if}}
                </div>
            </div>
            <div class="col-6 noselect">
                <div class="dropdown-toggle" id="dropdownGenreStudioList_{{ id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="-300">
                    <i class="fas fa-info"></i>
                </div>
                <div class="dropdown-menu dropdown-menu-xl-left" aria-labelledby="dropdownGenreStudioList_{{ id }}" >
                    {{> _studio_dropdown_list.hbs }}
                    <div class="mt-2"></div>
                    {{> _genre_dropdown_list.hbs }}
                </div>
            </div>
        </div>
    </div>
</div>
