{% extends 'base.html.twig' %}

{% block title %}{{ genre.title }}{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">
            <h2>{{ genre.title }}</h2>

            {% for topic in topics %}
                <a href="{{ url('topics_show', {'topic' : topic.id }) }}">{{ topic.rawTitle }}</a>
                <br>
            {% endfor %}
        </div>
        <div class="col-sm-2">
            <h5>Status</h5>
            <ul class="nav flex-column">
                <li class="nav-item">{{ genre.isApproved ? 'Approved' : 'Rejected' }}</li>
            </ul>
            <br>

            <h5>Options</h5>
            {% include 'components/approve_reject.twig' with {
                'is_approved' : genre.isApproved,
                'approve_url' : url('genres_approve', {'genre' : genre.id }),
                'approve_button' : 'Approve genre',
                'reject_url': url('genres_reject', {'genre' : genre.id }),
                'reject_button': 'Reject genre'
            } only %}
            <br>
        </div>
    </div>
</div>

{% endblock %}
