{% extends 'base.html.twig' %}

{% block title %}Genre Controller{% endblock %}

{% block body %}

<div class="container">
    <h1>Genres</h1>

    {% for genre in genres %}
        {{ genre.id }} : <a href="{{ url('genres_topics', {'genre' : genre.id}) }}">{{ genre.title }}</a>
        {{ genre.description ? ' - ' : '' }} {{ genre.description }}
        {% if not genre.isApproved %}
            <form action="{{ url('genres_approve', {'genre' : genre.id }) }}" method="POST">
                <button type="submit" class="btn btn-info btn-sm">Approve</button>
            </form>
        {% elseif genre.isApproved %}
            <form action="{{ url('genres_reject', {'genre' : genre.id }) }}" method="POST">
                <button type="submit" class="btn btn-danger btn-sm">Reject</button>
            </form>
        {% endif %}
        <br>
    {% endfor %}
</div>
{% endblock %}
