{% extends 'base.html.twig' %}

{% block title %}{{ studio.url }}{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">
            <h2>{{ studio.url  }}</h2>

            {% for topic in topics %}
                <a href="{{ url('topics_show', {'topic' : topic.id }) }}">{{ topic.rawTitle }}</a>
                <br>
            {% endfor %}
        </div>
        <div class="col-sm-2">
            <h5>Status</h5>
            <ul class="nav flex-column">
                <li class="nav-item">{{ studio.isApproved ? 'Approved' : 'Rejected' }}</li>
            </ul>
            <br>
            <ul class="nav flex-column">
                <li class="nav-item">{{ studio.status is same as(constant('App\\Constant\\StudioStatus::TYPICAL')) ? 'Typical' : 'Banned' }}</li>
            </ul>
            <br>

            <h5>Options</h5>
            {% include 'components/approve_reject.twig' with {
                'is_approved' : studio.isApproved,
                'approve_url' : url('studios_approve', {'studio' : studio.id }),
                'approve_button' : 'Approve studio',
                'reject_url': url('studios_reject', {'studio' : studio.id }),
                'reject_button': 'Reject studio'
            } only %}
            <br>

            {% include 'components/approve_reject.twig' with {
                'is_approved' : studio.status is same as(constant('App\\Constant\\StudioStatus::TYPICAL')),
                'approve_url' : url('studios_unban', {'studio' : studio.id }),
                'approve_button' : 'Unban studio',
                'reject_url': url('studios_ban', {'studio' : studio.id }),
                'reject_button': 'Ban studio'
            } only %}
            <br>
        </div>
    </div>
</div>

{% endblock %}
