{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <ul>
        {% for film in films %}
            <li>
                {{ film.id }}
                <br>
                {{ film.title }}
                <br>
                {{ film.href }}
                <br>
                {{ film.size }}
                <br>
                {{ film.createdAt|date('d.m.Y H:i') }}
                <br>
                {{ film.site }}
                <br>
                {{ film.genre }}
                <br>
                {{ film.quality }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
