<div class="container">
    <form id="search-block">
        {{> _forum_selector.hbs forums=forums parameter='forum-group-1' }}
        <div class="form-group">
            <label for="search-genres">Genres &#38;</label>
            <input id="search-genres" type="text" class="form-control" placeholder="Anal &#34;Sex Toys&#34;">
        </div>
        <div class="form-group">
            <label for="search-studios">Studios &#38;</label>
            <input id="search-studios" type="text" class="form-control" placeholder="Holed.com">
        </div>
        <div class="form-group">
            <label for="search-title">Title &#38;</label>
            <input id="search-title" type="text" class="form-control" placeholder="Tweetney">
        </div>
        <div class="form-group">
            <label for="search-raw-title">Raw title &#38;</label>
            <input id="search-raw-title" type="text" class="form-control" placeholder="[ManyVids.com] Tweetney">
        </div>
        <div class="form-group">
            <label for="search-years">Year |</label>
            <input id="search-years" type="text" class="form-control" placeholder="2020">
        </div>
        <div class="form-group">
            <label for="search-qualities">Quality |</label>
            <input id="search-qualities" type="text" class="form-control" placeholder="720p 1080p" />
        </div>
        <div class="form-group row">
            <div class="col-sm-1">Studios</div>
            <div class="col-sm-11">
                {{#each studioStatuses as | studioStatus |}}
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input js-studio-status-checkbox" id="studio-status-{{ studioStatus }}" type="checkbox" value="{{ studioStatus }}">{{ studioStatus }}
                        </label>
                    </div>
                {{/each}}
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
    <hr>
    <form id="loader-block">
        {{> _forum_selector.hbs forums=forums parameter='forum-group-2' }}
        <div class="form-group">
            <label for="loader-start-page">Start page</label>
            <input id="loader-start-page" type="number" class="form-control" placeholder="1" value="1">
        </div>
        <div class="form-group">
            <label for="loader-end-page">End page</label>
            <input id="loader-end-page" type="number" class="form-control" placeholder="10">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Load</button>
    </form>
    <hr>
    <form>
        {{> _forum_selector.hbs forums=forums parameter='forum-group-3' }}
        <div class="form-group">
            <label for="remover-start-date">Start date</label>
            <input id="remover-start-date" type="date" class="form-control" placeholder="some">
        </div>
        <div class="form-group">
            <label for="remover-end-date">End date</label>
            <input id="remover-end-date" type="date" class="form-control" placeholder="do">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Remove</button>
    </form>
    <p>
        Total topics: {{ totalTopics }}
    </p>
    <p>
        Total loaded topics: {{ totalLoadedTopics }}
    </p>
</div>
